# Created by .ignore support plugin (hsz.mobi)
/target
.idea/inspectionProfiles/
JavaTest.iml
target/generated-sources/
target/generated-test-sources/
/.idea/
/cheng-pom/cheng-pom.iml
/threadDemo/threadDemo.iml
/threadDemo/target/
